@model Configuration
@{
    ViewData["Title"] = "Settings";
}

<div id="settings" class="hide">

    <ul class="menu">
        <li><a href="#accounts" class="menu-link">👤 Accounts</a></li>
        <li><a href="#client" class="menu-link">🖥️ Client Updates</a></li>
        <li><a href="#piratebay" class="menu-link">🏴‍☠️ Pirate Bay</a></li>
        <li><a href="#providers" class="menu-link">📀 Data Providers</a></li>
        <li><a href="#vlc" class="menu-link"><img src="/images/vlc.svg">VLC</a></li>
    </ul>

    <div id="settings_content">

        <div class="content-header">
            <a href="#" class="back"></a>
            <div id="header_page_name" class="title"></div>
            <div class="right-space"></div>
        </div>

        <div id="accounts" class="content-page">
            <div class="left">
                <div id="accounts_table"></div>
                <a href="JavaScript:;" id="accounts_add_link" class="hide" onclick="page.usersConfig.addAccount()">Add Account</a>
            </div>
            <div class="right">
                <div class="content-header" style="">
                    <a href="JavaScript:;" onclick="page.usersConfig.backToAccounts()" class="back"></a>
                    <div class="title">Edit User</div>
                    <div class="right-space"></div>
                </div>
                <form id="user" onsubmit="page.usersConfig.saveUser(this); return false;">
                </form>
            </div>
        </div>

        

        <form id="client" class="content-page" onsubmit="page.saveForm(this); return false;">
            @Html.FormRowFor(m => Model.LogDays)
            @Html.FormRowFor(m => Model.UserConfig.ClientUpdateEnabled)
            @Html.FormRowFor(m => Model.UserConfig.ClientFileThresholdPercent)
            @Html.FieldSet("Delete Watched (default when added)", new() {
                Html.FormRowFor(m => Model.UserConfig.TVConfig.DeleteWatched, "For TV Shows"),
                Html.FormRowFor(m => Model.UserConfig.MovieConfig.DeleteWatched, "For Movies"),
                Html.FormRowFor(m => Model.UserConfig.BookConfig.DeleteWatched, "For Books"),
            })
            @Html.FieldSet("Download Limit (default when added)", new() {
                @Html.FormRowFor(m => Model.UserConfig.TVConfig.DownloadLimit, "For TV Shows"),
                @Html.FormRowFor(m => Model.UserConfig.MovieConfig.DownloadLimit, "For Movies"),
                @Html.FormRowFor(m => Model.UserConfig.BookConfig.DownloadLimit, "For Books"),
            })
            @Html.FieldSet("Keep Next Episode Off Cloud", new() {
                @Html.FormRowFor(m => Model.UserConfig.TVConfig.KeepNextEpisodeOffCloud, "For TV Shows"),
                @Html.FormRowFor(m => Model.UserConfig.MovieConfig.KeepNextEpisodeOffCloud, "For Movies"),
                @Html.FormRowFor(m => Model.UserConfig.BookConfig.KeepNextEpisodeOffCloud, "For Books"),
            })
            @Html.SubmitRow("Save")
        </form>

        <div id="piratebay" class="content-page">
            <div id="piratebay_table"></div>
            <a href="JavaScript:;" id="piratebay_add_link" class="hide" onclick="page.pirateBayConfig.add()">Add Pirate Bay</a>
        </div>

        <form id="providers" class="content-page" onsubmit="page.saveForm(this); return false;">
            @Html.FieldSet("Update from Data Provider", new() {
                @Html.FormRowFor(m => Model.UserConfig.TVConfig.UpdateFromDataProvider, "For TV Shows"),
                @Html.FormRowFor(m => Model.UserConfig.MovieConfig.UpdateFromDataProvider, "For Movies"),
                @Html.FormRowFor(m => Model.UserConfig.BookConfig.UpdateFromDataProvider, "For Books"),
            })
            @Html.FormRowFor(m => Model.UserConfig.MovieConfig.MovieReleaseCountryCode, new() { ShortString = true })
            @Html.FormRowFor(m => Model.UserConfig.MovieConfig.TheMovieDbApiKey)
            @Html.SubmitRow("Save")
        </form>

        <form id="vlc" class="content-page" onsubmit="page.saveForm(this); return false;">
            @Html.FormRowFor(m => Model.UserConfig.VLCConfig.Address)
            @Html.FormRowFor(m => Model.UserConfig.VLCConfig.Password)
            @Html.SubmitRow("Save")
        </form>

    </div>

</div>