@model Configuration
@{
    ViewData["Title"] = "Settings";
}

<div id="settings" class="hide">

    <ul class="menu">
        <li>@Html.Icon(new SolidIcon("user") { FixedWidth = true }, "Accounts", "#accounts", "menu-link")</li>
        <li>@Html.Icon(new SolidIcon("desktop") { FixedWidth = true }, "Client Updates", "#client", "menu-link")</li>
        <li>@Html.Icon(new SolidIcon("skull-crossbones") { FixedWidth = true }, "Pirate Bay", "#piratebay", "menu-link")</li>
        <li>@Html.Icon(new SolidIcon("binary") { FixedWidth = true }, "Data Providers", "#providers", "menu-link")</li>
        <li>@Html.Icon(new SolidIcon("traffic-cone") { FixedWidth = true }, "VLC", "#vlc", "menu-link")</li>
    </ul>

    <div id="settings_content">

        <div class="content-header">
            @Html.Icon(new SolidIcon("chevron-left"), action: "#", classes: "back")
            <div id="header_page_name" class="title"></div>
            <div class="right-space"></div>
        </div>

        <div id="accounts" class="content-page">
            <div class="left-column">
                <div id="accounts_table"></div>
                @Html.Icon("plus", "Add Account", "page.usersConfig.addAccount()", "hide icon-link", new() { { "id", "accounts_add_link" } })
            </div>
            <div class="right-column">
                <div class="content-header" style="">
                    @Html.Icon(new SolidIcon("chevron-left"), action: "page.usersConfig.backToAccounts()", classes: "back")
                    <div class="title">Edit User</div>
                    <div class="right-space"></div>
                </div>
                <form id="user" onsubmit="page.usersConfig.saveUser(this); return false;">
                </form>
            </div>
        </div>

        

        <form id="client" class="content-page" onsubmit="page.saveForm(this); return false;">
            @Html.FormRowFor(m => Model.LogDays)
            @Html.FormRowFor(m => Model.UserConfig.ClientUpdateEnabled)
            @Html.FormRowFor(m => Model.UserConfig.ClientFileThresholdPercent)
            @Html.FieldSet("Delete Watched (default when added)", new() {
                Html.FormRowFor(m => Model.UserConfig.TVConfig.DeleteWatched, "For TV Shows"),
                Html.FormRowFor(m => Model.UserConfig.YouTubeConfig.DeleteWatched, "For YouTube Shows"),
                Html.FormRowFor(m => Model.UserConfig.MovieConfig.DeleteWatched, "For Movies"),
                Html.FormRowFor(m => Model.UserConfig.BookConfig.DeleteWatched, "For Books"),
            })
            @Html.FieldSet("Download Limit (default when added)", new() {
                @Html.FormRowFor(m => Model.UserConfig.TVConfig.DownloadLimit, "For TV Shows"),
                @Html.FormRowFor(m => Model.UserConfig.YouTubeConfig.DownloadLimit, "For YouTube Shows"),
                @Html.FormRowFor(m => Model.UserConfig.MovieConfig.DownloadLimit, "For Movies"),
                @Html.FormRowFor(m => Model.UserConfig.BookConfig.DownloadLimit, "For Books"),
            })
            @Html.FieldSet("Keep Next Episode Off Cloud", new() {
                @Html.FormRowFor(m => Model.UserConfig.TVConfig.KeepNextEpisodeOffCloud, "For TV Shows"),
                @Html.FormRowFor(m => Model.UserConfig.YouTubeConfig.KeepNextEpisodeOffCloud, "For YouTube Shows"),
                @Html.FormRowFor(m => Model.UserConfig.MovieConfig.KeepNextEpisodeOffCloud, "For Movies"),
                @Html.FormRowFor(m => Model.UserConfig.BookConfig.KeepNextEpisodeOffCloud, "For Books"),
            })
            @Html.SubmitRow("Save")
        </form>

        <div id="piratebay" class="content-page">
            <div id="piratebay_table"></div>
            <a href="JavaScript:;" id="piratebay_add_link" class="hide" onclick="page.pirateBayConfig.add()">Add Pirate Bay</a>
        </div>

        <form id="providers" class="content-page" onsubmit="page.saveForm(this); return false;">
            @Html.FieldSet("Update from Data Provider", new() {
                @Html.FormRowFor(m => Model.UserConfig.TVConfig.UpdateFromDataProvider, "For TV Shows"),
                @Html.FormRowFor(m => Model.UserConfig.YouTubeConfig.UpdateFromDataProvider, "For YouTube Shows"),
                @Html.FormRowFor(m => Model.UserConfig.MovieConfig.UpdateFromDataProvider, "For Movies"),
                @Html.FormRowFor(m => Model.UserConfig.BookConfig.UpdateFromDataProvider, "For Books"),
            })
            @Html.FormRowFor(m => Model.UserConfig.MovieConfig.MovieReleaseCountryCode, new() { Style = FormRowStyle.OutlineInset })
            @Html.FormRowFor(m => Model.UserConfig.MovieConfig.TheMovieDbApiKey)
            @Html.SubmitRow("Save")
        </form>

        <form id="vlc" class="content-page" onsubmit="page.saveForm(this); return false;">
            @Html.FormRowFor(m => Model.UserConfig.VLCConfig.Address)
            @Html.FormRowFor(m => Model.UserConfig.VLCConfig.Password)
            @Html.SubmitRow("Save")
        </form>

    </div>

</div>