@model ShowPageModel
@{
    ViewData["Title"] = Model.Show.PosterName;
}

<div class="title">
    <h1 id="showName" class="edit-list-hide">@Model.Show.Name</h1>
    <div id="unwatched_count" class="@(Model.Show.UserComplete ? "complete" : "")">@(Model.Show.UserComplete ? @Html.Icon("check") : Model.Show.UserUnwatchedCount)</div>
    <input type="text" id="editListTitle" class="edit-list-show" value="@Model.Show.Name" onchange="page.editedListChanged();" />
    @if (Model.SiteSection == SiteSection.Books)
    {
        <div id="author">@Model.Show.ShowAuthor</div>
    }
    <div class="buttons add-to-list-hide">
        @if (!Model.ShowListOptions)
        {
            if (Model.Show.MergeWithParentShowId == null)
            {
                string buttonName = "";
                if (Model.SiteSection == SiteSection.TV) { buttonName = "Show"; }
                if (Model.SiteSection == SiteSection.Movies) { buttonName = "Movie" + (Model.Show.EpisodeCount > 1 ? "s" : ""); }
                if (Model.SiteSection == SiteSection.Books) { buttonName = "Book" + (Model.Show.EpisodeCount > 1 ? "s" : ""); }

                @Html.Button(Model.Show.ActiveUserNames == "" ? "." : Model.Show.ActiveUserNames, new Icon("user"), "page.toggleUserMenu()", new() { Colour = ButtonColour.Transparent, Classes = $"button settings {(Model.Show.IsAdded ? "" : "hide")}" }, new() { { "id", "showUserButton" } })
                @Html.Button(new Icon("filter"), "page.toggleFilterMenu()", new() { Classes = $"button settings hide-simple-mode {(Model.Show.IsAdded ? "" : "hide")}" }, new() { { "id", "showFilterButton" } })
                @Html.Button(new Icon("gear"), "page.toggleSettingsMenu()", new() { Classes = $"button settings hide-simple-mode {(Model.Show.IsAdded ? "" : "hide")}" }, new() { { "id", "showSettingsButton" } })
                @Html.Button("Full Info", "page.simpleModeOff()", new() { Classes = $"button settings simple-mode-only" })
                @Html.Button($"Add {buttonName}", new("plus"), "page.addShow()", new() { Colour = ButtonColour.Green, Classes = $"button add {(!Model.Show.IsAdded ? "" : "hide")}" }, new() { { "id", "addShowButton" } })
                @Html.Button($"Remove {buttonName}", new("xmark"), "page.removeShow()", new() { Colour = ButtonColour.Red, Classes = $"button remove {(Model.Show.IsAdded && Model.Show.Episodes.All(e => e.WatchStatus == WatchedStatus.Unwatched) ? "" : "hide")}" }, new() { { "id", "removeShowButton" } })
            }
            else
            {
                <div>Merged with <a href="/@(Model.Show.MergeWithParentSiteSection)/@(Model.Show.MergeWithParentShowId)" style="color:black">@Model.Show.MergeWithParentShowName</a></div>
            }
        }
        else
        {
            @Html.Button("Edit List", new("pencil"), "page.editList()", new() { Classes = "button edit edit-list-hide" })
            @Html.Button("Save List", new("check"), "page.editListSave()", new() { Colour = ButtonColour.Green, Classes = "button add save edit-list-show" })
            @Html.Button("Cancel", new("xmark"), "page.editListCancel()", new() { Colour = ButtonColour.Red, Classes = "button remove edit-list-show" })
            @Html.Button(new Icon("trash-can"), "page.deleteList()", new() { Classes = "button delete edit-list-show" })
        }
    </div>
</div>

<div id="blackout" class="hide" onclick="page.closeSettingsMenus()"></div>
<form id="settings_form" onsubmit="page.saveSettings(); return false;">
    <div id="userShow_menu" class="settings_menu narrow @(Model.ShowListOptions ? "for_list" : "") hide">
        @foreach (ShowUserModel user in Model.Show.Users)
        {
            @Html.FormRow($"Show_User_{user.Id}", user.Name, user.HasAdded, new() { Style = FormRowStyle.BlockRow, ChangeEvent = "page.userActiveChanged(event)" })
        }
        @Html.SubmitRow("Save", new() { Thin = true })
    </div>
    <div id="filter_menu" class="settings_menu narrow @(Model.ShowListOptions ? "for_list" : "") hide">
        @Html.FormRowFor(m => Model.Show.HideWatched, new() { Style = FormRowStyle.BlockRow })
        @Html.FormRowFor(m => Model.Show.HideUnplayable, new() { Style = FormRowStyle.BlockRow })
        @Html.SubmitRow("Save", new() { Thin = true })
    </div>
    <div id="settings_menu" class="settings_menu @(Model.ShowListOptions ? "for_list" : "") hide">
        @Html.FormRowFor(m => Model.Show.RecommendedBy, new() { Style = FormRowStyle.BlockRow, DataList = Model.Recommenders })
        @Html.FormRowFor(m => Model.Show.DownloadLimit, new() { Style = FormRowStyle.BlockRow })
        @Html.FormRowFor(m => Model.Show.DownloadSeriesOffset, new() { Style = FormRowStyle.BlockRow })
        @Html.FormRowFor(m => Model.Show.DeleteWatched, new() { Style = FormRowStyle.BlockRow })
        @Html.FormRowFor(m => Model.Show.WatchFromNextPlayable, new() { Style = FormRowStyle.BlockRow })
        @Html.FormRowFor(m => Model.Show.DownloadAllTogether, new() { Style = FormRowStyle.BlockRow })
        @Html.FormRowFor(m => Model.Show.KeepAllDownloaded, new() { Style = FormRowStyle.BlockRow })
        @Html.FormRowFor(m => Model.Show.ShowEpisodesAsThumbnails, new() { Style = FormRowStyle.BlockRow })
        @if (Model.SiteSection == SiteSection.TV)
        {
            var seriesList = new List<SelectListItem>();
            int? prevSeries = Model.Show.Episodes.FirstOrDefault()?.SeriesNumber;

            seriesList.Add(new() { Text = "-", Value = prevSeries.ToString() });
            foreach (EpisodeModel episode in Model.Show.Episodes)
            {
                if (prevSeries != episode.SeriesNumber)
                {
                    seriesList.Add(new() { Text = episode.SeriesNumber.ToString(), Value = episode.SeriesNumber.ToString(), Selected = Model.Show.SkipUntilSeries == episode.SeriesNumber });
                }
                prevSeries = episode.SeriesNumber;
            }

            @Html.FormRowFor(m => Model.Show.SkipUntilSeries, new() { Style = FormRowStyle.BlockRow, SelectOptions = seriesList, WithSelectHandle = true })
        }
        @Html.SubmitRow("Save", new() { Thin = true })

        @if (Model.SiteSection == SiteSection.YouTube)
        {
            @Html.ButtonRow(new() {
                Html.Button($"YouTube {(Model.Show.Id.StartsWith("PL") ? "Playlist" : "Channel")}", new() { ClickEvent = "page.openNetwork();", IconRight = new("arrow-up-right-from-square"), Colour = ButtonColour.Transparent })       
            }, new() { Justify = RowJustify.Center })
        }
    </div>
</form>

<div id="page-content">
    @if (Model.SiteSection == SiteSection.TV && !Model.Show.HideWatched && !Model.Show.HideUnplayable)
    {
        <div id="series_list_wrapper"><ul id="series_list"></ul></div>
    }
    @{
        string posterClass = "";
        if (Model.SiteSection == SiteSection.YouTube)
        {
            posterClass = Model.Show.Id.StartsWith("PL") ? "wide" : "round";
        }
    }
    <div id="episode_list" class="@(Model.Show.ShowEpisodesAsThumbnails ? "thumbnails" : "")"></div>
    @if (!Model.Show.ShowEpisodesAsThumbnails)
    {
        <div>
            <div id="poster" class="@posterClass"></div>
            <div id="network">
                @if (Model.SiteSection == SiteSection.TV && Model.Show.Network != null && !string.IsNullOrEmpty(Model.Show.Network.Name))
                {
                    @Html.Button(Model.Show.Network.Name, new() { ClickEvent = "page.openNetwork();", IconRight = new("arrow-up-right-from-square"), Colour = ButtonColour.Transparent })
                }
                @if (Model.SiteSection == SiteSection.YouTube)
                {
                    @Html.Button($"YouTube {(Model.Show.Id.StartsWith("PL") ? "Playlist" : "Channel")}", new() { ClickEvent = "page.openNetwork();", IconRight = new("arrow-up-right-from-square"), Colour = ButtonColour.Transparent })
                }
            </div>
        </div>
    }
</div>